<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #C6DCBA;
        }

        #apply {
            background-color: rgb(18, 18, 39);;
            color: white;
            padding: 10%;
            width: 80%;
            margin: 5%;
            font-size: x-large;
            font-family:'Times New Roman', Times, serif;
            font-weight: 200;
        }
    </style>
</head>

<body>
    <div id="apply">
        <h2>Thanks for your Submission.Your queries will be solved in upcoming weeks by our team...</h2>
    </div>
</body>

</html>